@page
@model BookMe.WebApp.Pages.AccessDenied
@inject BookMe.AuthService AuthService;
<h3>Kein Zugriff</h3>

<p>Der Benutzer @AuthService.Username hat keinen Zugriff auf die angeforderte Seite.</p>
<p><a href="/">Zurück zum Index</a></p>